<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <!--bg paling luar-->
    <div class="kotak1">
        margin: 0;
        overflow: hidden;
    </div>

    <!--kotak logo kiri-->

    <!--kotak kanan -->
    <div class="container" >
        <div class="kotak3"></div>
        <p class="signUp-txt">Sign Up</p> <br>
        Already have an account?
        <a href="login.html" class="login-link">Log In</a>
        <br><br>






    </div>
</body>
</html>
