.kotak1{
    width: 100vw;
    height: 100vh;
    background-color: #BAE8DA;
}

/*kotak logo kiri*/
.kotak2{
    width: 562px;
    height: 697px;
    background-image: url(image/logo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    /*content ditengah*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*kotak kanan*/
.container{
    text-align: left;
}

.kotak3{
    width: 562px;
    height: 697px;
    background-image: url(image/logo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    /*content ditengah*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*diatas 1 nambahin saturasi, dibawah 1 ngurangin saturasi*/
    filter: saturate(3);
}

/*tulisan*/
.signUp-txt{
    font-family: 'Moul';
    font-size: 50px;
    color: #000000;
    margin: 20px;
}

.already-txt{
    font-family: 'Moulpali';
    font-size: 18px;
    color: #000000;
    margin: 20px;
}

.login-link{
    font-family: 'Moulpali';
    font-size: 18px;
    color: #1F27E8;
    margin: 20px;
}

.username{
    font-family: 'Moulpali';
    font-size: 22px;
    color: #000000;
}

.email{
    font-family: 'Moulpali';
    font-size: 22px;
    color: #000000;
}

.password{
    font-family: 'Moulpali';
    font-size: 22px;
    color: #000000;
}

.line{
    border-bottom: 4px solid #000000;
}

/*button signup*/
.button{
    width: 152px;
    height: 68px;
    border-radius: 20;
    background-color: #65AB96;
}

.button-txt{
    font-family: 'Moul';
    font-size: 20px;
}

.or-txt{
    font-family: 'Moul';
    font-size: 22px;
}

/*button google*/
.btn-su{
    position: absolute;
    width: 59px;
    height: 54px;
    left: 761px;
    top: 723px;

    background: #D9D9D9;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

}

.logo-ggl{
    position: absolute;
    width: 31px;
    height: 28px;
    left: 775px;
    top: 736px;

    background: url(image/google.png);
    background-blend-mode: darken;
}

/*button phone*/
.logo-phone{
    position: absolute;
    width: 27.81px;
    height: 29.7px;
    left: 5.62px;
    top: 7.17px;

    /* Vector 1 */
    position: absolute;
    left: 15.18%;
    right: 24.37%;
    top: 22.21%;
    bottom: 17.67%;

    border: 1px solid #150A43;
    transform: matrix(1, 0.03, -0.02, 1, 0, 0);


    /* Ellipse 1 */
    position: absolute;
    left: 53.13%;
    right: 18.47%;
    top: 16.29%;
    bottom: 55.31%;

    border: 1px solid #150A43;
}


