body {
    margin: 0;
    background-color: #BAE8DA;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo img {
    height: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Moul', regular;
    font-size: 25px;
    font-weight: bold;
    margin: 0 40px;
}

nav .active {
    color: red;
}

nav a#order {
    display: inline-block;
    background: #DFD7D7;
    mix-blend-mode: multiply;
    line-height: normal;
}

nav a#myAccount {
    font-family: 'Moul', regular;
    font-size: 20px;
    font-weight: bold;
    margin-top: -55px;
    margin-right: 5px;
}

.about-container {
    display: flex;
}

.about-content {
    width: 45%;
    text-align: center;
    padding: 40px;
    margin-left: 45px;            
}

.about-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Moul;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.about-content p {
    font-size: 18px;
    font-family: 'Book Antiqua', sans-serif ;
    line-height: 1.6;
}

.image-container {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1; 
}

.background-image {
    width: 570px;
    height: 745px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(47, 124, 103, 0.57);
    color: #fff;
    z-index: 2;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

footer a#link {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

footer a#link:hover {
    color: #00f;
}

footer a img {
    width: 25px;
    height: auto;
    margin: 0 20px;
}