body {
    margin: 0;
    background-color: #BAE8DA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.content-container{
    padding: 40px;
}

.content-container p, ol{
    font-size: 20px;
}

.content-container h2{
    font-size: 30px;
}

.content-container button{
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #B4D8CB;
    color: black;
    transition: color 0.3s;
    font-family: 'Moul';
}

.content-container button:hover{
        background-color: #234D3E;
        color: white;

    }

.about-container {
    display: flex;
    flex: 1;
}

.about-content {
    width: 45%;
    text-align: center;
    padding: 40px;
    margin-left: 45px;
    z-index: 1;
    position: relative;
}

.about-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Moul;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-content p {
    font-size: 20px;
    font-family: 'Book Antiqua', sans-serif;
    line-height: 1.6;
}
.image-container {
    width: -100%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1; 
    
}

.background-image {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}