body {
    margin: 0;
    background-color: #BAE8DA;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    color: #000;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
}



.contact-form {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 45%;
    font-size: 20px;
}

.contact-info {
    width: 45%;
}

.contact-info h2 {
    font-size: 35px;
}

.contact-info p {
    font-size: 20px;
}

.contact-form h4 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.contact-info p {
    color: black;
    margin-bottom: 10px;
}

.contact-form button:hover {
    background-color: #7c7c7c;
}

