header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 100vh;
}

.logo img {
    height: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Moul', regular;
    font-size: 25px;
    font-weight: bold;
    margin: 0 40px;
}

nav .active {
    color: red;
}

nav a#order {
    display: inline-block;
    background: #DFD7D7;
    mix-blend-mode: multiply;
    line-height: normal;
}

nav a#myAccount {
    font-family: 'Moul', regular;
    font-size: 20px;
    font-weight: bold;
    margin-top: -55px;
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(47, 124, 103, 0.57);
    color: #fff;
    bottom: 0;
    min-width: 100vh;
    font-size: 20px;
}

footer a#termsLink,
footer a#privacyLink {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

footer a#termsLink:hover,
footer a#privacyLink:hover {
    color: #00f;
}

footer a img {
    width: 30px;
    height: auto;
    margin: 0 20px;
}