body {
    background-color: #BAE8DA;
    margin: 0;
    font-family: 'Moulpali';
}
.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 400px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container {
    flex-shrink: 0;
    color: #fff;
}
.logo {
    width: 400px;
    height: 500px;
    margin-right: 20px;
}
.content-container {
    flex-grow: 1;
    margin-left: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-right: 50px;
    font-family: 'Moul';
}

.subtitle {
    font-size: 13px;
    color: black;
    margin-bottom: 5px;
    font-family: 'Moulpali';
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
    color: #2196F3; /* Color when focused or not empty */
}


.password-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

button {
    background-color: #65AB96;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Moul', regular;
    font-size: 30;
    font-weight: bold;
}
button:hover {
    background-color: darkkhaki;
}

.or {
    margin: 20px 0;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}
.social-button {
    background-color: #D9D9D9;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
    width: 59px;
    height: 54px;
    cursor: pointer;
}
.social-button img {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

.login-link {
    color: #1F27E8;
    text-decoration: underline;
    cursor: pointer;
}
