body {
    margin: 0;
    background-color: #BAE8DA;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 97.5%;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo img {
    height: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Moul', regular;
    font-size: 25px;
    font-weight: bold;
    margin: 0 40px;
}

nav .active {
    color: red;
}

nav a#order {
    display: inline-block;
    background: #DFD7D7;
    mix-blend-mode: multiply;
    line-height: normal;
}

nav a#myAccount {
    font-family: 'Moul', normal;
    font-size: 20px;
    font-weight: bold;
    margin-top: -55px;
    margin-right: 5px;
}

.image-container {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.background-image {
    width: 570px;
    height: 745px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}

.search-bar {
    position: fixed;
    width: 371px;
    height: 63px;
    border-radius: 10.63px;
    background-color: #1F1D2B;
    margin-left: 1000px;
    margin-top: 140px;
    transform: rotate(0.17deg);
}

.search-bar img {
    position: absolute;
    width: 26px;
    height: 26px;
    filter: brightness(0) invert(1);
    margin-right: 30px;
    margin-top: 17px;
    margin-left: 20px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 40px;
    color: #FFFFFF;
    font-size: 16px;
}

.menu-categories {
    position: fixed;
    margin-top: 150px;
    margin-bottom: 300px;
    margin-right: 50px;
    margin-left: 30px;
    font-size: 25px;
}

.menu-categories span {
    margin-right: 50px;
}

.menu-categories span:hover {
    cursor: pointer;
    color: #468B01;
}

.menu-categories span.active {
    color: green;
}

.menu-section {
    padding: 50px;
}

.menu-item {
    display: flex;
    margin-bottom: 50px;
}

.menu-container {
    padding: 180px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 50px;
}
.menu-cb {
    background: #1F1D2B;
    border-radius: 21.2601px;
    transform: rotate(-0.17deg);

    /* Text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Dish Name */
    width: 180px;
    height: 180px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    transform: rotate(-0.17deg);
}

.item-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.item-description {
   margin-bottom: 80px;
}

.add-to-cart {
    background-color: #e8491d;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-popup img {
    width: 50px;
    height: 63px;
    margin-right: 10px;
    margin-left: 10px;
}

.cart-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    overflow: visible;
}


.cart-count {
    background-color: #BAE8DA;
    color: black;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    margin-top: -55px;
    margin-left: -20px;
    z-index: 1;
}

.line{
    position: absolute;
    width: 830px;
    top: 50px;
    border: 1px solid #000000;
}

