body {
    background-color: #BAE8DA;
    margin: 0;
    font-family: 'Moulpali';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

    .container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 110%;
    height: auto;
    }

    .logo-container{
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    }

    .logo-container img{
    border-radius: 15px;
    }

    .content-container {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    margin-right: 10px;
    }
    .title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'Moul';
    }

    .subtitle {
        font-size: 20px;
        color: #555;
        margin-bottom: 20px;
        font-family: 'Moulpali';
    }

    .input-container {
    position: relative;

    }

    .input-container input {
        width: calc(100% - 30px);
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    font-family: 'Moulpali';
    }

    .password-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    }

    button {
    background-color: #65AB96;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Moul', regular;
    font-size: 18px;
    font-weight: bold;
    }

    button:hover {
    background-color: darkkhaki;
    }

    .or {
    position: fixed;
    margin-top: 500px;
    margin-left: 600px;
    font-size: 18px;
    font-family: 'Moul', regular;
    }

    .social-buttons {
    position: fixed;
    justify-content: space-between;
    margin-top: 580px;
    margin-left: 600px;
    }
    .social-button {
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    }
    .social-button img {
    width: 30px;
    height: 30px;
    }

    .login-link {
    color: #1F27E8;
    text-decoration: underline;
    cursor: pointer;
    }